ansi2html==1.9.1
attrs==24.3.0
beautifulsoup4==4.13.4
blas==1.0
blinker==1.9.0
bottleneck==1.4.2
brotli==1.0.9
brotli-python==1.0.9
bzip2==1.0.8
ca-certificates==2025.2.25
certifi==2025.4.26
charset-normalizer==3.3.2
click==8.1.8
dash==3.0.4
dash-ag-gri==31.3.1
dash-bootstrap-components==2.0.2
exceptiongroup==1.2.0
flask==3.0.3
flask-compress==1.13
gunicorn==23.0.0
h11==0.14.0
idna==3.7
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.6
libcxx==14.0.6
libffi==3.4.4
libgfortran==5.0.0
libgfortran5==11.3.0
libopenblas==0.3.21
llvm-openmp==14.0.6
markupsafe==3.0.2
narwhals==1.31.0
ncurses==6.4
nest-asyncio==1.6.0
numexpr==2.10.1
numpy==1.26.4
numpy-base==1.26.4
openssl==3.0.16
outcome==1.3.0
packaging==24.2
pandas==2.2.3
pip==25.1
plotly==6.0.1
pysocks==1.7.1
python==3.10.16
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-tzdata==2025.2
pytz==2024.1
readline==8.2
requests==2.32.3
retrying==1.3.3
selenium==4.24.0
setuptools==78.1.1
six==1.17.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.7
sqlite==3.45.3
tk==8.6.14
trio==0.26.2
trio-websocket==0.12.2
typing-extensions==4.12.2
typing_extensions==4.12.2
tzdata==2025b
urllib3==2.3.0
webdriver-manager==4.0.2
websocket-client==1.8.0
werkzeug==3.0.6
wheel==0.45.1
wsproto==1.2.0
xz==5.6.4
zipp==3.21.0
zlib==1.2.13