ansi2htmld==1.9.1
attrsd==24.3.0
beautifulsoup4==4.13.4
blasd==1.0
blinkerd==1.9.0
bottleneck==1.4.2
brotlid==1.0.9
brotli-python==1.0.9
bzip2d==1.0.8
ca-certificates==2025.2.25
certifid==2025.4.26
charset-normalizer==3.3.2
clickd==8.1.8
dashd==3.0.4
dash-ag-grid==31.3.1
dash-bootstrap-components==2.0.2
exceptiongroup==1.2.0
flaskd==3.0.3
flask-compress==1.13
gunicornd==23.0.0
h11d==0.14.0
idnad==3.7
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2d==3.1.6
libcxxd==14.0.6
libffid==3.4.4
libgfortran==5.0.0
libgfortran5==11.3.0
libopenblas==0.3.21
llvm-openmp==14.0.6
markupsafe==3.0.2
narwhalsd==1.31.0
ncursesd==6.4
nest-asyncio==1.6.0
numexprd==2.10.1
numpyd==1.26.4
numpy-base==1.26.4
openssld==3.0.16
outcomed==1.3.0
packagingd==24.2
pandasd==2.2.3
pipd==25.1
plotlyd==6.0.1
pysocksd==1.7.1
pythond==3.10.16
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-tzdata==2025.2
pytzd==2024.1
readlined==8.2
requestsd==2.32.3
retryingd==1.3.3
seleniumd==4.24.0
setuptools==78.1.1
sixd==1.17.0
sniffiod==1.3.0
sortedcontainers==2.4.0
soupsieved==2.7
sqlited==3.45.3
tkd==8.6.14
triod==0.26.2
trio-websocket==0.12.2
typing-extensions==4.12.2
typing_extensions==4.12.2
tzdatad==2025b
urllib3d==2.3.0
webdriver-manager==4.0.2
websocket-client==1.8.0
werkzeugd==3.0.6
wheeld==0.45.1
wsprotod==1.2.0
xzd==5.6.4
zippd==3.21.0
zlibd==1.2.13